<h1 class="text-sm" id="iddd">accounts/highlight/associate_profiles</h1>
<% sorted_packages.each do |package| %>
    <%= render partial: 'accounts/highlight/tile', locals: {:package => package}%>  
  <% end %>
     