<h1 class="text-xs" id="iddd">accounts/highlight/domains</h1>
<%= link_to user_account_path(@account.id, domains.id), :class=> "flex justify-between item-center px-3 py-1 text-sm font-medium text-gray-700 rounded-lg hover:bg-gray-200" do %>
  <%= domains.name %>
  <%= content_tag(:span, "", :class => "text-sm font-medium text-gray-700") %>
<% end %>
