<h1 class="text-xs" id="iddd">accounts/dashboard/avatar_lg</h1>
    <span class="-ml-2 rounded-full border-2 border-white">
      <img class="h-12 w-12 rounded-full object-cover"
      src="<%= avatar.url %>" 
      alt="profile photo"
      >
    </span>
  