<!-- passed to 'data_sidebar.html.erb' through 'main_display.html.erb' via yielded "content_for" block in view files-->
<!--Render list of company/account/etc... button items in data sidebar-->


<a href="#" class="flex justify-between item-center px-3 py-1 text-sm font-medium text-gray-700 rounded-lg hover:bg-gray-200">
  <span class="text-sm font-medium text-gray-700"><%= company.name %></span>
</a>