<h1 class="text-xs" id="iddd">users/dashboard/user_profiles</h1>

<main class="p-3 flex">
  <% ary.each do |ary_element| %>
    <div class="inline ml-3 w-80 mt-2 p-3 bg-gray-100 rounded">
      <h3 clas="text-sm font-medium text-gray-900"><%= ary_element.name.titleize %></h3>
    </div>
  <% end %>  
</main>

