<h1 class="text-xs" id="iddd">users/dashboard/package</h1>

<li class="mt-3 block p-5 bg-white rounded-lg shadow">
  
    <div class="flex justify-left py-2 mb-4">

     <% if local_assigns.has_key? :company%>
      <h2 class="text-sm font-medium font-bold text-gray-900"><%= package.send(company).send(name).upcase %></h2>
    <% else %>
      <h2 class="text-sm font-medium font-bold text-gray-900"><%= package.send(name).upcase %></h2>
    <% end %>

    </div>
    <div class="flex justify-between">
      <p class="text-sm font-medium text-gray-900 leading-snug"> <%= package.name %></p>
      <div class="ml-6 flex items-center">

      </div>
    </div>
    <div class="flex mt-2 justify-between items-baseline">
      <%= link_to package_package_comments_path(package) do %>
      <div class="text-sm text-gray-600">
        <span class="uppercase">comments</span>
      </div>
      <% end %>
      <div>
        <span class="px-2 inline-flex items-center bg-teal-100 rounded">
          <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
          <circle cx="4" cy="4" r="3" />
          </svg>


        </span>
      </div>
    </div>
 
</li>