<div>
  <% if current_user.admin? %>
    <%= render partial: 'users/dashboard/main_display', locals: {:packages => Package.all} %>
  <% elsif current_user.manager? %>

    <%= render partial: 'users/dashboard/main_display', locals: {:packages => @packages} %>
    
    
  <% else %>
    <h2>I'm a contact!</h2>
  <% end %>
</div>