<div>
  <% if current_user.admin? %>
<h2>Welcome <%= current_user.name%></h2>
    <%= render partial: "invite_user", locals: {user: @test} %>
  <% elsif current_user.manager? %>

    <%= render partial: "manager_home", locals: {:packages => @packages, :avatars => @contributors} %>
    
    
  <% else %>
    <h2>I'm a contact!</h2>
  <% end %>
</div>