<h2>Welcome <%= current_user.name.capitalize %></h2>
<% if current_user.admin? %>
<%= render partial: "invite_user", locals: {user: @test} %>

<%#= render partial: 'signup_form', locals: {user: @test} %>

<h2>this is passed directly to the view from the controller: ...</h2>
<% elsif current_user.manager? %>
<h2>I'm a manager! </h2>
<% else %>
<h2>I'm a contact!</h2>
<% end %>
