 <div class="flex-shrink-0 ml-3 w-80 mt-2 p-3 bg-gray-100 rounded">
          <h3 clas="text-sm font-medium text-gray-900">Backlog</h3>
          
          <ul class="mt-2">
            <li class="mt-3">
              <%= render partial: 'package', :collection => packages.backlog, locals: {:avatars => avatars} %>              
            </li>            
          </ul>
        </div>
        <div class="flex-shrink-0 ml-3 w-80 mt-2 p-3 bg-gray-100 rounded">
          <h3 clas="text-sm font-medium text-gray-900">In Progress</h3>
          <ul class="mt-2">
            <li class="mt-3">
              <%= render partial: 'package', :collection => packages.in_progress, locals: {:avatars => avatars} %>              
            </li>            
          </ul>
        </div>
        <div class="flex-shrink-0 ml-3 w-80 mt-2 p-3 bg-gray-100 rounded">
          <h3 clas="text-sm font-medium text-gray-900">Ready For Review</h3>
          <ul class="mt-2">
            <li class="mt-3">
              <%= render partial: 'package', :collection => packages.ready_for_review, locals: {:avatars => avatars} %>              
            </li>           
          </ul>
        </div>
        <div class="flex-shrink-0 ml-3 w-80 mt-2 p-3 bg-gray-100 rounded">
          <h3 clas="text-sm font-medium text-gray-900">Complete</h3>
          <ul class="mt-2">
            <li class="mt-3">
              <%= render partial: 'package', :collection => packages.complete, locals: {:avatars => avatars} %>              
            </li>           
          </ul>
        </div>