<h1 class="text-xs" id="iddd">associates/dashboard/company</h1>


<%= link_to user_company_path(current_user.id, company.id), :class=> "flex justify-between item-center px-3 py-1 text-sm font-medium text-gray-700 rounded-lg hover:bg-gray-200" do %>
  <%= company.name %>
  <%= content_tag(:span, "", :class => "text-sm font-medium text-gray-700") %>
<% end %>