<div id="sidebar">
  <h2 class="mt-8 text-xs font-semibold text-gray-600 uppercase tracking-wide">Companies</h2>
  <div class="mt-2 -mx-3">
    <%= render partial: 'users/dashboard/company', :collection => current_user.domains %>
  </div>
</div>
  <% if current_user.admin?%>
    <button class="mt-3 py-2 px-3 flex items-center text-sm font-medium text-gray-600 border border-gray-300 rounded hover:bg-gray-200">
      <svg class="h-5 w-5 text-gray-500" height="568.89" viewBox="0 0 426.67 426.67" width="568.89">
        <path d="M410.67 229.33H16a16 16 0 010-32h394.67a16 16 0 010 32zm0 0" fill="#8C8C8C"/>
        <path d="M213.33 426.67a16 16 0 01-16-16V16a16 16 0 0132 0v394.67a16 16 0 01-16 16zm0 0" fill="#8C8C8C"/>
      </svg>
    <span class="ml-2">New Company</span>
    </button>
  <% else %>
    <button class="mt-3 py-2 px-3 flex items-center text-sm font-medium text-gray-600 border border-gray-300 rounded hover:bg-gray-200">
      <svg class="h-5 w-5 text-gray-500" height="568.89" viewBox="0 0 426.67 426.67" width="568.89">
        <path d="M410.67 229.33H16a16 16 0 010-32h394.67a16 16 0 010 32zm0 0" fill="#8C8C8C"/>
        <path d="M213.33 426.67a16 16 0 01-16-16V16a16 16 0 0132 0v394.67a16 16 0 01-16 16zm0 0" fill="#8C8C8C"/>
      </svg>
    <span class="ml-2"><%= link_to 'New Account', new_account_path %></span>
  </button>
  <% end %>