<h1 class="text-xs" id="iddd">associates/highlight/associate_profiles</h1>

<% sorted_packages.each do |package| %>
 
    <%= render partial: 'associates/highlight/tile', locals: {:associate => package}%>  
  <% end %>
     