<h1 class="text-xs" id="iddd">associates/highlight/user_sidebar</h1>
<div class="mt-2"> 
  <%# lower level tally of Associated Users sorted By roles. %>
  <% if @company %>

    <% @company.roles.each do |role| %>
      <%= render partial: 'associates/highlight/user_list', locals: {:role => role}  %>
      
    <% end %>

  <% else %>
    <% current_user.roles.each do |role| %>
      <%= render partial: 'associates/highlight/user_list', locals: {:role => role}  %>
    <% end %>
  <% end %>
</div>