<button class=" px-4 py-2 my-4 flex items-center text-sm font-medium text-white bg-gray-800 rounded-lg hover:bg-gray-700">
    <svg class="h-3 w-3 " height="568.89" viewBox="0 0 426.67 426.67" width="568.89">
        <path d="M410.67 229.33H16a16 16 0 010-32h394.67a16 16 0 010 32zm0 0" fill="white"/>
        <path d="M213.33 426.67a16 16 0 01-16-16V16a16 16 0 0132 0v394.67a16 16 0 01-16 16zm0 0" fill="white"/>
    </svg>
    <%= new_package %>
</button>        ­­  