<main class="p-3 inline-flex">
  <% column_headings.each do |heading| %>
    <div class="flex-shrink-0 ml-3 w-80 mt-2 p-3 bg-gray-100 rounded">
      <h3 clas="text-sm font-medium text-gray-900"><%= heading.titleize %></h3>
      <ul class="mt-2 asdffffe">
        <%= tiles(tiling_elements: @tiling_elements, sorting_condition: heading)  %>      
        <%= show_button(heading) %>
      </ul>
    </div>
  <% end %>  
</main>