<%# passed to "companies/dashboard/main_display" to be rendered in users/index view %>

<main class="p-3 inline-flex">
  <% accounts.each do |account| %>
    <div class="flex-shrink-0 ml-3 w-80 mt-2 p-3 bg-gray-100 rounded">
      <h3 clas="text-sm font-medium text-gray-900"><%= account.name.titleize %></h3>
      <ul class="mt-2">
        <li class="mt-3">  
          <% account.packages.each do |package| %>
            <%= render partial: 'companies/dashboard/package', locals: {:user_profiles => "user_profiles", :package => package, :status => "account.name", :name => "name", :users => "users"}%>  
           <% end %>
         <button class="mt-3 py-2 px-3 flex items-center text-sm font-medium text-gray-600 border border-gray-300 rounded hover:bg-gray-200">
        <svg class="h-5 w-5 text-gray-500" height="568.89" viewBox="0 0 426.67 426.67" width="568.89">
          <path d="M410.67 229.33H16a16 16 0 010-32h394.67a16 16 0 010 32zm0 0" fill="#8C8C8C"/>
          <path d="M213.33 426.67a16 16 0 01-16-16V16a16 16 0 0132 0v394.67a16 16 0 01-16 16zm0 0" fill="#8C8C8C"/>
        </svg>
      <span class="ml-2"><%= link_to "New Account", new_account_package_path(account) %></span>
    </button>         
        </li>  
      </ul>
    </div>
  <% end %>  
</main>