<h1 class="text-xs" id="iddd">companies/dashboard/user_sidebar</h1>

<div class="mt-2"> 
  <%# lower level tally of Associated Users sorted By roles. %>
  <% current_user.roles.each do |role| %>
    <%= render partial: 'companies/dashboard/associates_list', locals: {:role => role, :associates => @associates}  %>
  <% end %>
</div>